& when not (@fullScreen) {
    padding-top: (@paddingTop * 1rem);
    padding-bottom: (@paddingBottom * 1rem);
  }
  & when (@bg-type = 'image') {
    background-image: url(@bg-value);
  }
  & when (@bg-type = "color") {
    background-color: if(@transparentBg, transparent, @bg-value);
  }
  .mbr-fallback-image.disabled {
    display: none;
  }
  .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    & when (@bg-type = 'video') {
      background-image: url(@fallBackImage);
    }
  }
  .content-wrapper {
    .image-wrapper {
      margin-bottom: 32px;
      img {
        height: 530px;
        object-fit: cover;
        @media (max-width: 992px) {
          height: 350px;
        }
      }
    }
    .mbr-section-title {
      margin-bottom: 32px;
      span {
        color: @title;
      }
    }
    .text-wrapper {
      .mbr-text {
        display: inline-block;
        width: 60%;
        margin-bottom: 32px;
        @media (max-width: 992px) {
          margin-bottom: 16px;
          width: 100%;
        }
      }
    }
  }
  .mbr-section-title {
    color: #ffffff;
  }
  .mbr-text, .text-wrapper {
    color: #000000;
    text-align: center;
  }
  .mbr-section-title, .mbr-section-btn {
    text-align: center;
    color: #000000;
  }