<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>It's your birthday &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/countdown.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="index.html">It's your birthday<strong>.</strong></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="{{ url_for('chat') }}">Chat</a></li>
						<li><a href="{{ url_for('video') }}">Video</a></li>
						<li><a href="{{ url_for('gallery') }}">Gallery</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>


	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(static/images/180361.jpeg);" data-stellar-background-ratio="0.5">
		<div id="balloons-container"></div>
		<audio id="celebration-audio" src="static/images/song.mp3" preload="auto"></audio>
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Palak Aneja</h1>
							<h2>A very Happy Birthday to you</h2>
							<div class="simply-countdown simply-countdown-one"></div>
							
							<p><a href="#" class="btn btn-default btn-sm">Let's dive ahead</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Dice starts rollin!!</h2>
					<h3>January 1st, 2025, Digital World, India</h3>
					<p>We invite you to celebrate your some part of the birthday digitally</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="static/images/shrey.jpeg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Shrey Aneja</h3>
						<p>As the self-proclaimed mastermind behind both the plan and this site (don’t ask for evidence, it’s all in my head), I figured I’d show off just enough to make everyone think I know what I’m doing. A very happy birthday to you! Of course, we both know I’m the best—but today, let’s pretend you’re the one with that honor. </p>
					</div>
				</div>
				<!-- <p class="heart text-center"><i class="icon-heart2"></i></p> -->
				<div class="couple-half">
					<div class="bride">
						<img src="static/images/avil.jpeg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Avil Aneja</h3>
						<p>As the self-declared Stephny behind this entire spectacle, I wish you the happiest of birthdays! Dive deep into the world of the virtual genie and shower some love on our true mastermind (the one who actually did everything). Maybe, just maybe, with enough appreciation, we’ll be able to start monetizing this thing... xD. Here's to more questionable decisions, brilliant ideas, and, of course, your special day! Enjoy!</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(static/images/40d22209-7b78-4277-9f1e-5a029a6501b1.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Special</span>
					<h2>Birthday Events</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-12 col-md-offset-0">
							<div class="col-md-4 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Palak's Bday Guide: Your Virtual Genie Awaits</h3>
									<p> Welcome to your personal birthday assistant, a sassy little digital angel here to sprinkle some sparkle on your day. Chat about anything, unravel surprises, and embark on a journey to the glitz and glam you totally deserve. But heads up—no "Dad card" works here, so roll up your sleeves and own the fun! PS: May the odds be ever in your favor. 😜 </p>
									<p><a href="{{ url_for('chat') }}" class="btn btn-default btn-sm">Click here</a></p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Reel of Glory: Palak's Power-Packed Journey</h3>
									<p>Lights, camera, Palak! This video is a humble attempt to capture your magic, charm, and the many unforgettable moments we've shared with you. While we all agree you’re a jack of all trades, let's be real—you’re basically the queen of them all. From your wit to your warmth, this reel’s got a pinch of everything we adore about you. 💖</p>
									<p><a href="{{ url_for('video') }}" class="btn btn-default btn-sm">Click here</a></p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Palak's Hall of Fame: Picture-Perfect Edition</h3>
									<p>Behold, a gallery of memories straight from our phone archives—dust and all. Sure, these snaps are about you (mostly), but honestly, it’s also about us finally getting some credit for our photographer skills. Birthday vibes or not, we deserve a little love. 😎 PS: A QR code for tipping your paparazzi will arrive shortly. Incentives are mandatory, not optional! 😂</p>
									<p><a href="{{ url_for('gallery') }}" class="btn btn-default btn-sm">Click here</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonial">
		<div class="container">
			<div class="row">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<span>Best Wishes</span>
						<h2>Contributor Wishes</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
						<div class="wrap-testimony">
							<div class="owl-carousel-fullwidth">
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="static/images/couple-1.jpg" alt="user">
										</figure>
										<span>Simran & Isha Aneja </span>
										<blockquote>
											<p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics"</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="static/images/couple-2.jpg" alt="user">
										</figure>
										<span>Avil Aneja</span>
										<blockquote>
											<p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, at the coast of the Semantics, a large language ocean."</p>
										</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="static/js/jquery.countTo.js"></script>

	<!-- Stellar -->
	<script src="static/js/jquery.stellar.min.js"></script>
	<!-- Magnific Popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/magnific-popup-options.js"></script>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<script src="static/js/simplyCountdown.js"></script>
	<!-- Main -->
	<script src="static/js/main.js"></script>

	<script>
	// Get the current date and time
	// var d = new Date();

	// // Default example
	// simplyCountdown('.simply-countdown-one', {
	// 	year: 2025,
	// 	month: 1,
	// 	day: 9,
	// 	hours: 2,
	// 	minutes: 0,
	// 	seconds: 0,
	// 	enableUtc: true,
	// 	onEnd: function () {
	// 		// Play celebration audio
	// 		const audio = document.getElementById('celebration-audio');
	// 		if (audio) {
	// 			audio.play();
	// 		}

	// 		// Display balloons
	// 		displayBalloons();
	// 	}
	// });

	// // Function to create and animate balloons
	// function displayBalloons() {
	// 	const balloonsContainer = document.getElementById('balloons-container');
	// 	if (balloonsContainer) {
	// 		balloonsContainer.style.position = 'relative';
	// 		balloonsContainer.style.overflow = 'hidden';
	// 		balloonsContainer.style.height = '100vh';
	// 		balloonsContainer.style.width = '100vw';

	// 		for (let i = 0; i < 50; i++) {
	// 			const balloon = document.createElement('div');
	// 			balloon.classList.add('balloon');
	// 			balloon.style.left = Math.random() * 100 + '%';
	// 			balloon.style.animationDuration = Math.random() * 3 + 3 + 's';
	// 			balloonsContainer.appendChild(balloon);
	// 		}
	// 	}
	// }
    // var d = new Date(new Date().getTime() + 200 * 120 * 120 * 2000);

    // // default example
    // simplyCountdown('.simply-countdown-one', {
    //     year: d.getFullYear(),
    //     month: d.getMonth() + 1,
    //     day: d.getDate()
    // });

    // //jQuery example
    // $('#simply-countdown-losange').simplyCountdown({
    //     year: d.getFullYear(),
    //     month: d.getMonth() + 1,
    //     day: d.getDate(),
    //     enableUtc: false
    // });
	 // Define the target date and time for 10th January 2025, 12:00 AM IST
	//  var targetDateIST = new Date('2025-01-10T00:00:00+05:30'); // IST offset is +05:30

	// Default example for the countdown
	// simplyCountdown('.simply-countdown-one', {
	// 	year: targetDateIST.getFullYear(),
	// 	month: targetDateIST.getMonth() + 1, // getMonth is 0-based
	// 	day: targetDateIST.getDate(),
	// 	hours: targetDateIST.getHours(),
	// 	minutes: targetDateIST.getMinutes(),
	// 	seconds: targetDateIST.getSeconds(),
	// 	enableUtc: false, // Ensure local time is used
	// 	onEnd: function () {
	// 		alert('The countdown has ended!');
	// 	}
	// });
</script>

	</body>
</html>

